@using System.Security.Claims;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stok Takip Uygulaması</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-start">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ürün Parametreleri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Kategori" asp-action="Index">Kategori</a>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AltKategori" asp-action="Index">Alt Kategori</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Birim" asp-action="Index">Birim</a>
                    </div>
                </li>
                @if (User.IsInRole("Yonetici"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="KullaniciIslemleri" asp-action="Index">Kullanıcı İşlemleri</a>
                    </li>

                }
                <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tedarikci" asp-action="Index">Tedarikçi</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Musteri" asp-action="Index">Müşteri</a>
                </li>
            </ul>
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">STU</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                @if (!User.Identity.IsAuthenticated)
                {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Giris">Giriş Yap</a>
    </li> }
                else
                {
    <li class="nav-item">
        <a class="nav-link text-dark">@HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Name) (@HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role))</a>
    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-controller="Home" asp-action="Cikis">
                            <button type="submit" class="nav-link btn btn-link">Çıkış Yap</button>
                        </form>
                    </li>
}
            </ul>
        </div>

    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - StokTakipUygulaması
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/3ffe5bd700.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
